basePath: /api/v1
host: localhost:3000
info:
  contact: {}
  description: A RESTful API using Gin framework
  title: Go API
  version: "1.0"
paths:
  /Users:
    get:
      consumes:
      - application/json
      description: Perform Users check
      produces:
      - application/json
      responses:
        "200":
          description: '{"message": "ok"}'
          schema:
            additionalProperties: true
            type: object
      summary: Users Check
      tags:
      - Users
  /health:
    get:
      consumes:
      - application/json
      description: Perform health check
      produces:
      - application/json
      responses:
        "200":
          description: '{"message": "ok"}'
          schema:
            additionalProperties: true
            type: object
      summary: Health Check
      tags:
      - Health
schemes:
- http
swagger: "2.0"
